// override BS5 variables and custom variables mixins

$fontstack: 'Brygada 1918', serif;
$fontstack_secondary: 'Caveat', cursive;
$fontstack_tertiary: 'Edu NSW ACT Foundation', cursive;

$white: white;
$purple: #4c2464;
$black: black;
$yellow_pastel: #bd9f19;
$gainsboro: gainsboro;



$theme-colors: map-merge($theme-colors,
    ('primary': $purple,
      'secondary': $black ));